{% extends 'layout.html' %}
{% block title %}About this Website{% endblock %}
{% block body %}
  <h2>About this Website</h2>
  <div class=box>
    <h3>What's this?</h3>
    <p>
      This website aggregates the official battlefield 3 forums and the twitter
      accounts of developers for news from the sources.  It updates in 15
      minute intervals and aggregates most developer accounts.  In case you think
      I am missing one, <a href=mailto:armin.ronacher@active-4.com>shoot me a line</a>
      and I will add him or her.
    <h3 id=contact>Who is behind this?</h3>
    <p>
      <a href=http://lucumr.pocoo.org/>Armin Ronacher</a>.  You can contact me
      <a href=mailto:armin.ronacher@active-4.com>via mail</a> or
      <a href=http://twitter.com/mitsuhiko>Twitter</a>.
    <h3>Why does this website exist?</h3>
    <p>
      Following the twitter accounts of all developers is not the problem, but
      also finding what they write into the forums is too much work.  However every
      once in a while there is some interesting information in the forums which
      is why I decided to automatically collect that information.
    <h3>There is too much information</h3>
    <p>
      Indeed.  If you have some ideas how I could filter out useless tweets and
      stuff, let me know.  I am already filtering out replies to other people
      from the tweets which reduced the amount of information here a lot, but it's
      still too much.  I personally mostly use it to track the forum posts which
      are otherwise quite hard to find.
    <h3 id=missing-dev>I am missing on this list / X is missing on this list</h3>
    <p>
      This website aggregates developers working on BF3 only.  If you are
      missing or someone you know is missing, please let me know and provide
      this information: real name, twitter account, forums account, optionally
      a short description.  If that developer does not have a twitter or forum
      account, one is enough obviously.
    <h3>Where is the Code?</h3>
    <p>
      Good that you're asking.  If you want to have a look at it, you can find the
      code on github: <a href=http://github.com/mitsuhiko/bf3-aggregator>mitsuhiko/bf3-aggregator</a>.
    <h3>Can I get that data?</h3>
    <p>
      Send an HTTP request with <code>Accept: application/json</code> to any of the
      URLs returning tweets or forum posts and you get JSON back.  That you can parse
      and use for your own purposes.  This website updates every ~30 minutes, so don't
      bother requesting more.  I don't have unlimited traffic on this server so please
      be kind and cache on your side.
  </div>
{% endblock %}
