<!doctype html>
<title>{% block title %}{% endblock %} | Battlefield3 Development News Aggregator</title>
<link rel=stylesheet href={{ url_for('static', filename='style.css') }} type=text/css>
<link rel="shortcut icon" href={{ url_for('static', filename='favicon.png') }} type=image/png>
<script type=text/javascript src=https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js></script>
<script type=text/javascript>
  var $ROOT_URL = {{ request.url_root|tojson|safe }};
</script>
<script type=text/javascript src={{ url_for('static', filename='script.js') }}></script>
{%- if feed_url is defined %}
<link href="{{ feed_url }}" rel=alternate title="BF3 Development News" type=application/atom+xml>
{%- endif %}
{%- for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{%- endfor %}
<div class=page>
  <div class=header>
    <h1>Battlefield 3 Development News Aggregator</h1>
  </div>
  <p class=steam-login>
  {%- if not g.user %}
    <a href={{ url_for('login') }} class=login
      title="Login to favorite news"><span>login with steam</span></a>
  {%- else %}
    Currently logged in as <a href={{ g.user.profile_url }}>{{ g.user.nickname }}</a> |
    <a href={{ url_for('my_favorites') }}>favorited news</a> |
    <a href={{ url_for('logout') }} class=logout>logout</a>
  {%- endif %}
  <ul class=navigation>
    {%- for endpoint, caption in [
      ('show_all', 'All News'),
      ('show_forums', 'Forum Posts'),
      ('show_tweets', 'Tweets'),
      ('show_developers', 'Developers'),
      ('about', 'About')
    ] %}
      <li{% if endpoint == request.endpoint %} class=active{% endif
      %}><a href={{ url_for(endpoint) }}>{{ caption }}</a>
    {%- endfor %}
  </ul>
  <div class=contents>
    <div class=bodywrapper>
      {% block body %}{% endblock %}
    </div>
    <div class=legal>
      Website &copy; Copyright 2011 by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a>.<br>
      Twitter and forum posts by their respective authors.<br>
      Their views might be personal opinion and do not necessarily
      represent the views or opinions of EA and/or DICE.<br>
      Trademarks belong to their respective owners.<br>
      User authentication <a href=http://steampowered.com/>Powered by Steam</a>.
    </div>
  </div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21370042-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
